/* ---- SUBTITLE ----*/

.container {
    margin-left: 50px;
    margin-top: 50px;
}

.subtitle {
    font-family: 'SF Pro Display';
    font-size: 50px;
    margin: 0;
}

.descriptionSection {
    font-family: 'SF Pro Display'; 
    font-weight: 400;
    font-size: 18px ;
    margin: 0;
}


