/* src/pages/CV/ContactForm.module.css */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTitle {
    color: #000;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.profileDescription {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-left: 20px;
    margin-bottom: 50px;
}

.formSection {
    text-align: center;
    color: #494949;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin: 25px 0;
}

.formInput input,
.textarea {
    border-radius: 12px;
    font-size: 17px;
    font-family: 'SF Pro Display', sans-serif;
    padding: 18px 12px;
    border: 1px solid #00000071;
    background-color: transparent;
    color: #565656;
    width: 350px;
    margin: 8px;
}

.select {
    font-size: 17px;
    font-family: 'SF Pro Display', sans-serif;
    padding: 18px 12px;
    border: 1px solid #00000071;
    border-radius: 12px;
    background-color: transparent;
    color: #565656;
    width: 350px;
    margin: 8px;
}

.textarea {
    resize: none;
    min-height: 100px;
}

.titleTextarea {
    margin-top: 50px;
    max-width: 350px;
    font-family: 'SF Pro Display', sans-serif;
}

.terminos {
    margin: 30px 0;
}

.checkbox {
    width: auto;
}

a {
    color: #48e;
    text-decoration: none;
}
