/* Estilos base limpios */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

html {
  scroll-padding-top: 45px; 
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'AliensAndCows';
  src: url('/fonts/aliens-and-cows.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}